.amc-img {
  background: url(../../assets/food-images/american-2.jpg);
  height: 200px;
  background-size: cover;
  background-position: center;
}
.chn-img {
  background: url(../../assets/food-images/chinese.jpg);
  height: 200px;
  width: 100%;
  background-size: cover; /* <------ */
  background-position: center;
}

.ind-img {
  background: url(../../assets/food-images/indian.jpg);
  height: 300px;
  width: 100%;
  background-size: cover; /* <------ */
  background-position: center;
}

.int-img {
  background: url(../../assets/food-images/italian.jpg);
  height: 200px;
  width: 100%;
  background-size: cover; /* <------ */
  background-position: center;
}

#card{
  height: 450px;
}

